@charset "utf-8";

#hensyuu2 .btn {
    margin-top:20px;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px SteelBlue;
    border-right: solid 4px SteelBlue;
    color: SteelBlue;
    background: #e1f3ff;
    transition: .4s;
}

.square_btn:hover {
    background: #668ad8;
    color: #FFF;
}


#hensyuu_contents {
    padding-top: 25px;
}

.table a{
    border-bottom: 1px solid #000080;
    color: 	#7B68EE;
    text-decoration: none;
    font-size: 20px;
}

#momo_name h3{
  margin-left: 50px;  
}

.content1{
    background-image: url("/images/welcome_photo.jpg");
    width:100%;
    height:450px;
    margin-top: -10px;
}