@charset "utf-8";

.iraishitai{
    font-size: 20px;
    float: left;
    padding: 0em 0em;
    margin: 2em 0;
    font-weight: bold;
    color: #F0FFF0;/*文字色*/
    background: #F0FFF0;
    border: solid 3px #fff;/*線*/
    border-radius: 22px;/*角の丸み*/
    width: 495px;
    margin-left: -20px;
}

.tasuketai{
    float: right;
    font-size: 20px;
     margin: 2em 0;
    font-weight: bold;
    color: #FFF0F5;/*文字色*/
    background: #FFF0F5;
    border: solid 0px #fff;/*線*/
    border-radius: 22px;/*角の丸み*/
    margin-top: 45px;
    width: 475px;
    margin-right:-20px;
    height:1225px;
}
.moji{
    padding-top: 7px;
    
}
    
.husen {
    width: 290px;
    height: 51px;
    line-height: 40px;
    position: relative;
    background: #A7F1FF;
    margin: 0 0 0 150px;
}
    
.husen:after {
    width: 191px;
    height: 46px;
    content: "";
    position: absolute;
    top: 0;
    right: 2px;
    /* ぼかし */
    -moz-box-shadow: 0 15px 15px #999; /* Firefox */
    -webkit-box-shadow: 0 15px 19px #999; /* Safari and Chrome */
    box-shadow: 0 10px 5px #999;
    /* 回転 */
    -moz-transform: rotate(3deg); /* FireFox */
    -webkit-transform: rotate(3deg); /* Safari and Chrome */
    -o-transform: rotate(3deg); /* Opera */
    -ms-transform: rotate(3deg); /* IE */
    transform: rotate(3deg);
    z-index: -1;
}
    
.close{
    float: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 4px;
    color: inherit;
}

.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
    margin: 0;
    padding: 0;
    border: 0;
    
}
.tyaki{
    text-align: center;
}

.husem{
    width: 220px;
    margin-left: 650px;
    text-align: center;
    margin-top: 1px;
}

.sakiko{
    text-align: center;
}

.abc{
    text-align: center;
    margin-left: 580px;
    margin-bottom: 10px;
    margin-top: 1%;
}

.abcd{
    text-align: center;
    margin-left: 580px;
    margin-bottom: 10px; 
    margin-top: 1%;
}

.header_box{
    margin-left:110px;
}

.demo {
  width: 500px;
  margin: 0 auto;
  padding: 10px 0;
  font-family: sans-serif;
  font-size: 20px;
  color:#283e56; 
}

.cp_btn {
position: relative;
display: block;
width: 250px;
height:60px;
padding: 0.5em;
text-align: center;　
font-weight: bold;
text-decoration: none;
color: #FFF;
text-shadow: 0 0 5px rgba(255, 255, 255, 0.0);
background: #FFD700;
transition: .4s;
border-radius: 4px;
margin-left: 160px;
margin-right: 650px;
margin-top: 20px;
font-size: 25px;
}

.cp_btn:hover {
text-shadow: -6px 0px 15px rgba(255, 255, 240, 0.83), 6px 0px 15px rgba(255, 255, 240, 0.83);
transition: .4s;
}

/*welcomepageのボタン*/
.animation {
  width:350px;
  height:76px;
  text-align:center;
  border:2px solid #1989ac;
  float:left;
  cursor:pointer;
  position:relative;
  box-sizing:border-box; 
  overflow:hidden;
  margin:0 0 40px 0;
  border-radius:10px;
  box-shadow:4px 4px #555;
}

.animation a {
  font-size:16px;
  color:#BBBBBB;
  font-family:arial;
  font-size:36px;
  color:#1989ac;
  text-decoration:none;
  line-height:56px;
  transition:all .10s ease;
  z-index:2;
  position:relative;
}

.effect {
  width:330px;
  height:76px;
  top:-2px;
  left:-360px;
  background:#283e56;
  position:absolute;
  transition:all .6s ease;
  z-index:1;
}

.effect-background {
  width:320px;
  height:76px;
  top:-0px;
  left:1px;
  background:#00000000;
  position:absolute;
  z-index:2;
}

.animation:hover .effect {
  left:0;
  color:#fff;
 }
 
.animation:hover a {
  color:#fff;
}
.person_1{
    font-size: 40px;
    color: #3CB371;
    text-shadow: 1px 0px 0px #3CB371, 0px 1px 0px #3CB371, -1px 0px 0px #3CB371, 1px -1px 0px #3CB371;
    margin-left: 132px;
}

.person_2{
    font-size: 40px;
    color:hotpink;
    text-shadow: 2px 0px 0px #ff003f, 0px 1px 0px #ff003f, -1px 0px 0px #ff003f, 0px -1px 0px #ff003f;
    margin-left: 140px;
}
.saki{
    font-size: larger;
     color: #fff;
     margin-left:-10px; 
     margin-top: 10px;
}

.maintitle{
    text-align: center;
    margin-left: 1px;
    color:navy;
    margin-right: 680px;
    margin-top: 40px;
   }

.introduction{
    text-align:center;
    margin-top: 75px;
}
.Heart3{
  animation: anime3 0.2s alternate infinite;
  color: hotpink;
}

@keyframes anime3{
  0% {transform: translateY(0px);}
  100% {transform: translateY(-10px);}
}
.Heart4{
  animation: anime4 1.5s alternate infinite;
  color: hotpink;
}

@keyframes anime4{
  0% {transform: rotateY(0deg);}
  100% {transform: rotateY(360deg);}
}

.heart1{
    margin-left: -300px;
}

.heart2{
    padding-left:  310px;
}

.kakomi-kage1 {
 margin: 2em auto;
 padding: 1em;
 width: 140%;
 color: #555555; /* 文字色 */
 background-color: #FFEEFF; /* 背景色 */
 box-shadow: 0 0 10px 10px #FFDDFF ; /* 影 */
 height: 90px;
}
