@charset "utf-8";

.iraishitai{
    font-size: 20px;
    float: left;
    padding: 0em 0em;
    margin: 2em 0;
    font-weight: bold;
    color: #F0FFF0;/*文字色*/
    background: #F0FFF0;
    border: solid 3px #fff;/*線*/
    border-radius: 22px;/*角の丸み*/
    width: 495px;
    margin-left: -20px;}

.tasuketai{
    float: right;
    font-size: 20px;
     margin: 2em 0;
    font-weight: bold;
    color: #FFF0F5;/*文字色*/
    background: #FFF0F5;
    border: solid 0px #fff;/*線*/
    border-radius: 22px;/*角の丸み*/
    margin-top: 45px;
    width: 475px;
    margin-right:-20px;
  
}
    
.tyaki{
    text-align: center;
}

.husen {
    width: 250px;
    height: 42px;
    line-height: 40px;
    position: relative;
    background: #A7F1FF;
    margin-right:-20px;}
    
.husen:after {
    width: 170px;
    height: 33px;
    content: "";
    position: absolute;
    top: 0;
    right: 2px;
    /* ぼかし */
    -moz-box-shadow: 0 15px 15px #999; /* Firefox */
    -webkit-box-shadow: 0 15px 19px #999; /* Safari and Chrome */
    box-shadow: 0 10px 5px #999;
    /* 回転 */
    -moz-transform: rotate(3deg); /* FireFox */
    -webkit-transform: rotate(3deg); /* Safari and Chrome */
    -o-transform: rotate(3deg); /* Opera */
    -ms-transform: rotate(3deg); /* IE */
    transform: rotate(3deg);
    z-index: -1;}
    
.close{
    float: right;
    font-size: 17px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .2;
}

.alert-dismissable .close, .alert-dismissible .close {
    position: relative;
    top: -2px;
    right: 4px;
    color: inherit;
    top: 3px;
}

