@charset "utf-8";

.iraishitai{
    font-size: 20px;
    float: left;
    padding: 0em 0em;
    margin: 2em 0;
    font-weight: bold;
    color: #F0FFF0;/*文字色*/
    background: #F0FFF0;
    border: solid 3px #fff;/*線*/
    border-radius: 22px;/*角の丸み*/
    width: 495px;
    margin-left: -20px;}