@charset "utf-8";


/*body*/
body {
    background-color: #E8f1f5;
}


/* navbar */
.navbar {
    background-color: #11cbd7;
    border-style:none;　　
}
　
/*footer*/

footer {
    margin-top: 40px;
}

.copy {
    background-color: #352b23;
    color: #fff;
    text-align: center;
    margin: 0;
    bottom: 0;
    width:100%;
}

/*irai-contents*/ 
.irai {
    text-align: center;
}

.irai .irai-flower {
   background-image: url("../images/flower.png");
   background-repeat: no-repeat;
   background-size: cover;
   height: 300px;
   width: 300px;
   margin:20px 20px;
   
}

.irai .irai-flower .title {
    font-size:30px;
}

.irai .irai-flower .title .widen-height {
    height:50px;
}
 
