@charset "utf-8";


/*body*/
body {
    background-color: white;
}


/* navbar */
.navbar {
    background-color: #11cbd7;
    border-style:none;

}

/*footer*/

footer {
    margin-top: 40px;
}

.copy {
    background-color: #352b23;
    color: #fff;
    text-align: center;
    margin: 0;
    bottom: 0;
    width:100%;
<<<<<<< HEAD
<<<<<<< HEAD
    position: absolute;
}

=======
    position: fixed;
}
>>>>>>> 84e014a90ab398fc128be1b525e787258ae3ba9b
=======
    position: absolute;
}

/*irai-contents*/ 
.irai .title {
    background-color:  #C6f1e7;
    border-bottom-color: black;
} 
>>>>>>> 74e2b677b3696ff04b0c586acf6484b47ad7d0e5
