@charset "utf-8";

<<<<<<< HEAD
/*body*/
body {
    background-color: #fff;
}


/* navbar */
.navbar {
    background-color: #11cbd7;
}

/*footer*/
=======

body {
    background: #f2f2f2;
 
}
footer {
    margin-top: 40px;
}

>>>>>>> e1d6a08553b783a641f3bcc875beedce5f3f334f
.copy {
    background-color: #352b23;
    color: #fff;
    text-align: center;
    margin: 0;
    bottom: 0;
    width:100%;
<<<<<<< HEAD
    position: absolute;
}

/*
11cbd7
C6f1e7
F0fff3
*/
=======
    position: fixed;
}
>>>>>>> e1d6a08553b783a641f3bcc875beedce5f3f334f
